// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.order-index-order-area{
	width: 90%;
	margin: 0 auto;
	padding-bottom: 20px;
}
.order-index-username{
	width: 15%;
}
.order-index-totalfee{
	width: 10%;
	color: #8b0000;
}
.order-index-date{
	width: 10%;
}
.order-index-state{
	width: 7%;
	text-align: center;
} 
.order-index-city{
	width: 13%;
}
.order-index-address{
	width: 15%
}
.order-index-tel{
	width: 10%;
}
.order-stil{
	color: red;
}
.order-stil-link{
	color: #0066c0;
	transition: .1s
}
.order-stil-link:hover{
	color: #ff8c00;
}
.order-already{
	color: green;
}
.order-show-link{
	width: 7%;
}
.order-search-area{
	padding: 20px 0;
}
.order-search-form-area{
	display: inline-block;
	padding: 0 10px;
}
.order-show-area{
	width: 80%;
	margin: 0 auto;
}
.order-show-item-quantity{
	width: 7%;
	text-align: center;
}